.no-repeat {
    background-repeat: no-repeat !important;
}

.cover {
    background-size: cover !important;
}

.background__start {
    background: url("../images/infiniti.png");
        background-position: 50% 0%;
}

.background__form {
    background: url("../images/kia.png");
}

.background__form_client {
    background: url("../images/driver.png");
    background-position: center;
}

.background__find {
    background: url("../images/bmw.jpg");
}

.background__find_client {
     background: url("../images/people.png");
     background-position: 50% -150%;
}


form {
    margin-left: 2%;
    margin-top: 2%;
}

section {
    margin: 2%;
}
