<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="pl"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:include="navi :: head">
<!--<body class= "background__find_client no-repeat cover">-->
<body background-image=url("static/images/people.png")>
<!--<body background="static/images/people.png">-->
<div th:include="navi :: menu"></div>
<h2 class="movieDet">Find client:</h2>

<form th:action="@{/client/findBySurname}" th:object="${client}" method="post">
    <div class="col-xs-3">
        <div class="thumbnail">
            <label>Search client by surname:</label>
            <input class="form-control" type="text" placeholder="Search.." name="surname" th:field="*{surname}"/>
            <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></td>
        </div>

        <button type="submit" class="btn btn-success">Search</button>

    </div>

</form>

</body>
</html>